@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.test {
  height: 200vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../public/background.png');
  background-size: cover;
  background-position: center;
  z-index: -100;
}

main {
  height: 100%;
}

.space {
  height: 100px;
}