@media only screen and (max-width: 640px) {
    .block {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .block img {
        width: 100%;
    }
    
    .block div {
        order: 2;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .block p {
        padding: 30px;
    }
}
@media only screen and (min-width: 640px) {
    .block {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .block img {
        width: 50%;
    }
    
    .block div {
        display: flex;
        align-items: center;
    }
    
    .block p {
        padding: 30px;
        margin: 40px;
    }
}

.about_welcome {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_welcome h1 {
    font-family: 'lobster';
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.about_welcome p {
    padding: 0;
    margin: 0;
}

.about_container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.info {
    background-color: rgba(35, 35, 35, 0.8);
    display: flex;
    flex-direction: column;
}

.block {
    width: 100%;
    display: flex;
}

.block img {
    object-fit: cover;
}

.block div {
    display: flex;
    align-items: center;
}